
.Button {
    @import '../../../sass/colors.scss';
    border: none;
    font-size: 1.3rem;
    cursor: pointer;

    &--full{
        width: 100%;
    }

    &--ultraviolet {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        position: relative;
        display: block;
        background-color: $color-ultraviolet-1;
        padding: .75em 3em;
        color: $color-purple-5;
        border-radius: .5em;
        border: none;
        transition: all .5s ease-in-out;
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            height: 20px;
            width: 55px;
            background: darken($color-ultraviolet-1, 5%);
            border-radius: 0 .5em 0 .5em;
            transition: all .5s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: darken($color-ultraviolet-1, 8%)
        }

        &:hover::after,
        &:focus::after,
        &:active::after {
            content: '';
            height: 100%;
            width: 100%;
            background: darken($color-ultraviolet-1, 8%);
            opacity: .2;
        }
    }

    &--orange {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        position: relative;
        display: block;
        background-color: $color-orange-1;
        padding: .75em 3em;
        color: $color-purple-5;
        border-radius: .5em;
        border: none;
        transition: all .5s ease-in-out;
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 20px;
            width: 55px;
            background: darken($color-orange-1, 5%);
            border-radius: .5em 0 .5em 0;
            transition: all .5s ease-in-out;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: darken($color-orange-1, 15%)
        }

        &:hover::after,
        &:focus::after,
        &:active::after {
            content: '';
            height: 100%;
            width: 100%;
            background: darken($color-orange-1, 20%);
            opacity: .2;
        }
    }

    &--round {
        font-family: 'Lato', sans-serif;
        font-size: 2em;
        display: block;
        background-color: $color-ultraviolet-1;
        padding: .5em;
        color: $color-purple-5;
        border-radius: 50%;
        border: none;
        transition: all .2s ease-in-out;

        &:hover, &:active, &:focus {
            background-color: $color-purple-2;
        }
    }

    &--search {
        display: block;
        padding: .75em;
        border: none;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        #search {
            display: inline-block;
            fill: $color-white;
        }

        &:hover, &:active, &:focus {
            background-color:  $color-purple-4;
            outline: 0;

            #search {
                fill: $color-purple-1;
            }
        }
    }

    &--tag-ultraviolet {
        font-family: 'Lato', sans-serif;
        color: $color-purple-5;
        font-size: 1rem;
        font-weight: bold;
        display: block;
        background-color: $color-ultraviolet-1;
        border: 1px solid transparent;
        padding: .75em;
        border-radius: .5em;
        transition: all .2s ease-in-out;

        &:hover, &:active, &:focus {
            background-color: lighten($color-ultraviolet-1, 10%);
        }
    }

    &--tag-orange {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: block;
        background-color: $color-orange-1;
        border: none;
        padding: .75em;
        border-radius: .5em;
        transition: all .2s ease-in-out;
    }

    &--tag-orange-border {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: block;
        background-color: transparent!important;
        padding: .75em;
        border: 1px solid $color-orange-1;
        color: $color-orange-1;
        border-radius: .5em;
        transition: all .2s ease-in-out;

        &:hover, &:active, &:focus {
            background-color: lighten($color-orange-1, 10%);
        }
    }

    &--big {
        box-shadow: -3px 2px 14px -3px rgba(0,0,0,0.65);
        display: block;
        background-color: $color-purple-3;
        padding: 1.5rem;
        position: absolute;
        top: -200%;
        left: 50%;
        transform: translateX(-50%);
        color: $color-purple-5;
        border-radius: 50%;
        border: none;
        transition: all .2s ease-in-out;

        &:hover, &:active, &:focus{
            background-color: $color-purple-2;
            outline: 0;
        }

        #search {
            display: inline-block;
            fill: $color-purple-5;
        }
    }

    &--tag-border {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        display: block;
        background-color: transparent;
        padding: .75em;
        color: $color-ultraviolet-1;
        border-radius: .5em;
        border: 1px solid $color-ultraviolet-1;
        transition: all .5s ease-in-out;
        margin-bottom: 1.5rem;
    }
    
}
