.RawData {
    background-image: linear-gradient(120deg, #2E2B5F, #383881);
    padding: 1rem;
    border-radius: .5em;
    min-width: 45%;
    max-width: 45%;
    min-height: 150px;
    max-height: 150px;

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
    }

    .Icon svg {
        width: 64px;
        height: 64px;
        margin-bottom: 1rem;
    }
}