.Article {
    background-image: linear-gradient(120deg, #2E2B5F, #383881);
    padding: 1rem;
    border-radius: .5em;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
}