.ModalBody {
    @import '../../../../sass/colors.scss';

    overflow-y: auto;

    .Form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Fieldset {
        margin: 0 2em;
        padding-bottom: 0;
    }

    .Button {
        &--red {
            background-color: $color-red-3;

            &::after{
                background: darken($color-red-3, 5%);
            }

            &:hover{
                background-color: lighten($color-red-3, 8%)
            }
    
            &:hover::after {
                background: lighten($color-red-3, 8%);
            }
        }
    }

    .Tags li {
        margin-bottom: .25rem;

        &:last-child .Button {
            margin-right: 0;
        }
    }
}