.ModalBody {
    @import '../../../../sass/colors.scss';

    overflow-y: auto;
    min-height: 40vh;
    border: 2px $color-purple-6 solid;
    background-color: $color-purple-5;

    .Form {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Fieldset {
        margin: 0 2em;
        padding-bottom: 0;
    }

    .Button {
        &--ultraviolet {
            background-color: $color-orange-1;

            &::after{
                background: darken($color-orange-1, 5%);
            }

            &:hover{
                background-color: lighten($color-orange-1, 8%)
            }
    
            &:hover::after {
                background: lighten($color-orange-1, 8%);
            }
        }
    }

    .Tags li {
        margin-bottom: .5rem;

        &:last-child .Button {
            margin-right: 0;
        }
    }
}