.ModalBody {
    @import '../../../../sass/colors.scss';

    overflow-y: auto;

    .Form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .Fieldset {
        margin: 0 2em;
        padding-bottom: 0;
    }

    .Tags li {
        margin-bottom: .25rem;

        &:last-child .Button {
            margin-right: 0;
        }
    }
}