.ModalFooter {
    @import '../../../../sass/colors.scss';

    background-color:$color-purple-2;
    padding: 1em 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: flex;
    justify-content: flex-end;

    .firstButton {
        margin-right: 1em;
    }

    .firstButton, .secondButton {
        margin-bottom: 0;
    }

    // button {
    //     padding: 1em;
    //     color: #1C2C38;
    //     font-weight: bold;
    //     border: none;
    //     border-radius: .35em;
    //     transition: all .2s ease;
    // }

    // .firstButton {
    //     background-color: #E88626;
    //     margin-right: 1em;
    // }

    // .secondButton {
    //     background-color: #E6605D;
    // }

    // .firstButton:hover,
    // .firstButton:focus {
    //     background-color: #FFAC5A;
    // }

    // .secondButton:hover,
    // .secondButton:focus, {
    //     background-color: darken(#E6605D, 5%);
    // }
}