.ModalFooter {
    @import '../../../../sass/colors.scss';

    background-color:$color-purple-6;
    padding: 1em 2em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    .firstButton {
        margin-right: 1em;
        background-color: $color-ultraviolet-1;

        &::after{
            background: darken($color-ultraviolet-1, 5%);
        }

        &:hover,
        &:focus {
            background-color: darken($color-ultraviolet-1, 8%)
        }

        &:hover::after,
        &:focus::after {
            background: darken($color-ultraviolet-1, 8%);
        }

    }

    .firstButton, .secondButton {
        margin-bottom: 0;
    }
}