.Header {
    display: flex;
    justify-content: center;
    min-height: 40px;
    align-items: center;

    &__back-button {
        position: absolute;
        left: 0;
        margin-left: 25px;
    }
}
