.Header {
    @import '../../../sass/colors.scss';

    display: flex;
    justify-content: center;
    min-height: 40px;
    align-items: center;

    &__back-button {
        position: absolute;
        top: 5%;
        left: 5%;
        transition: fill .2s ease;
    }

    &__more-button {
        position: absolute;
        top: 5%;
        right: 5%;
        transition: fill .2s ease;
    }

    &__back-button:hover,
    &__back-button:focus {
        svg path {
            fill: $color-ultraviolet-1;
            transition: fill .2s ease;
        }
    }
}
