.SearchForm {
    margin: auto;

    @media all and (min-width:992px) {
        max-width: 900px;
    }

    &__wrapper {
        position: relative;

        .SearchForm__input {
            font-size: 1.25rem;
            margin: 1rem auto;
            padding-right: 2rem;

            &:focus + .SearchForm__search-icon {
                bottom: 1rem;
                transform: scale(1.5);
            }
        }

        .SearchForm__search-icon {
            position: absolute;
            right: .5rem;
            margin: 1rem auto;
            bottom: .75rem;
            fill: #fff;
            display: block;
            transition: .3s ease all;
            
            svg {
                height: 1rem;
                width: 1rem;
            }
        }
    }

    .Button {
        margin: 1.5rem auto;
    }
}