
.MenuBottom {
    @import '../../../sass/colors.scss';

    background-color: $color-purple-4;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 15%;
}