.HomeIntroduction {
    @import '../../../sass/colors.scss';
    margin: 2rem auto;

    &__header {
        margin-bottom: 2rem;
    }

    &__header,
    &__subheader {
        font-size: 2rem;
        font-weight: 300;
    }
    &__text {
       color: $color-purple-2;
       margin-top: 1rem;
    }
}