.SearchQuery {
    @import '../../../sass/colors.scss';
    
    margin-bottom: 1rem;

    .SearchQuery__form {
        position: relative;

        .SearchQuery__input {
            font-size: 1.25rem;
            padding-right: 2rem;
            margin: 1rem auto;
            border-bottom: 2px solid transparent;
            transition: .3s ease border;
            margin: 0;

            &:focus {
                border-bottom: 2px solid $color-white;
                outline: transparent;
            }

            &:focus + .SearchQuery__button .Link__icon .Icon__search_small {
                bottom: 1.5rem;
                transform: scale(1.5);
            }

            &::placeholder {
                max-width: 95%;
                display: flex;
                flex-wrap: wrap;
                color: $color-white;
            }
        }

        .SearchQuery__button {
            position: absolute;
            margin: 1rem auto;
            right: .5rem;
            bottom: .5rem;
            fill: $color-white;
            display: block;
            transition: .3s ease all;

            .Link__icon .Icon__search_small {
                height: 1rem;
                width: 1rem;
            }
        }
    }

}