$color-ultraviolet-1: #8781FE;
$color-ultraviolet-2: #DAD8FF;
$color-ultraviolet-3: #BEBAFF;
$color-ultraviolet-4: #6463DB;

$color-orange-1: #FF6B34;

$color-white: #FFFFFF;
$color-gray-1: #F8F8F8;
$color-gray-2: #C1C1C1;
$color-gray-3: #9A9A9A;
$color-gray-4: #222222;
$color-black: #000000;

$color-purple-1: #CEC7EC;
$color-purple-2: #9C96B9;
$color-purple-3: #6D6789;
$color-purple-4: #413C5B;
$color-purple-5: #181631;
$color-purple-6: #07051F