@import './reset.scss';
@import './colors.scss';

body {
    display: flex;
    line-height: 1;
    background-color: $color-purple-5;
    color: $color-white;
    overflow-x: hidden;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body main {
    width: 100%;
}

// Import other SCSS files here, for example: @import './components/nameOfComponent.scss';