.CoverView {
    @import '../../../sass/colors.scss';

    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
    max-width: 90%;
    min-width: 75%;
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;

    .Legend {
        text-align: center;
        font-size: 2em;
        font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        color: $color-blue-1
    }
}