.CoverView {
    @import '../../../sass/colors.scss';

    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.10);
    max-width: 90%;
    min-width: 75%;
    min-height: 100vh;
    margin: auto;
    padding: 2rem;
    border-radius: 5px;

}