.Sidebar {
    @import '../../../sass/colors.scss';

    display: flex; 
    flex-direction: row;
    justify-content: center;

    .Button {
        z-index: 99;
        padding: .5rem;
        position: absolute;
        top: 5%;
        right: 3%;

        svg {
            width: 16px;
            height: 16px;
            path {
                fill: $color-purple-5;
            }
        }
    }

    .Sidebar__Content {
        transition: height 0.5s ease-out;
        overflow: hidden;
        overflow-y: auto;
    }

    &--collapsed .Sidebar__Content {
        height: 0;
    }

    &--open .Sidebar__Content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 3%;
        right: 1%;
        z-index: 98;
        background-color: $color-purple-4;
        padding: 2rem;
        max-width: 75%;

        h1 {
            font-size: 1.5rem;
            text-align: left;
        }
    
        ol {
            list-style: decimal;
            margin: 1rem;
        }
    }
}