.Back-board {
    @import '../../../../sass/colors.scss';

    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    background:$color-purple-6;
    font-family: 'Lato' Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 2rem;
    z-index: -1;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    display: block;
    text-decoration: none;
}

a:hover .Board,
a:focus .Board,
a:active .Board {
    transform: rotate3d(1,0,0, 90deg);   
}

.Board {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(-120deg, $color-ultraviolet-4, $color-ultraviolet-1);
    border-radius: .5em;
    cursor: pointer;
    transition: .5s ease-in-out;
    transform-origin: bottom;

    h2 {
        font-size: 1.2em;
        padding: 8px;
    }

}
