.Boards {
    margin-top: 2em;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 45%;
            margin: 1rem 0;
            position: relative;
            perspective: 200px;
            min-height: 200px;
        }
    }
}
