.IconRaster {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .Icon {
        padding: 12px;
    }
}