.IconRaster {
    @import '../../../sass/colors.scss';

    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    &__input {
        opacity: 0;
        height: 0;
        width: 0;

        &:checked + .Icon,
        &:hover + .Icon,
        &:focus + .Icon {
            border-color: $color-white;
        }
    }

    .Icon {
        padding: 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: ease-in-out border .2s;
    }
}