* {
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    box-sizing: border-box;
}

body{
    background: #181631;
}

#line__container{
    width: 50rem;
    margin: auto;
}
ul{
    list-style: none;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item{
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    box-shadow: 0 5px 5px -10px rgba(0,0,0,.15);
    background: linear-gradient(120deg, #2E2B5F, #383881);
    background-size: 100%;
    transition: .3s ease background, .3s ease transform;
    border-radius: 20px;
    background-position: 0 0;
    padding: 2rem;
    overflow: hidden;
}

.item:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.219);
    background-size: 300%;
}

.item.active{
    transform: scale(1.05);
}

.item:after{
    transition: .3s ease all;
    background: transparent;
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
}

.item.active:after{
    background: rgba(255,255,255,.15);
}

.item div{
    pointer-events: none;
}

.item div h1{
    font-size: 1rem;
    margin-bottom: .5rem;
}

.item div p{
    font-size: .75rem;
    max-height: 4rem;
    line-height: 1rem;
    overflow: hidden;
}

svg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

input[type="checkbox"]:checked ~ div svg{
    z-index: 0;
}

g{
    opacity: 0.25;
    transition: .5s ease all;
}

g.active{
    opacity: 1;
}

g *{
    transition: .3s ease all;
}

g line{
    stroke-width:3;
    stroke-dasharray: 50 10;
    stroke-linecap: round;
    opacity: 0;
    animation: move 10s infinite linear, fadein .5s forwards;
    animation-delay: 0s, .5s;
}

g circle{
    opacity: 0;
    animation: fadein .5s forwards;
}

@keyframes move {
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: -100%;
    }
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

g.link--none:nth-of-type(n) line,
g.link--none:nth-of-type(n) line ~ circle{
    stroke: #F62459;
    fill: #F62459;
}

g.link--none:nth-of-type(2n) line,
g.link--none:nth-of-type(2n) line ~ circle{
    stroke: #F8507B;
    fill: #F8507B;
}

g.link--none:nth-of-type(3n) line,
g.link--none:nth-of-type(3n) line ~ circle{
    stroke: #FA7C9D;
    fill: #FA7C9D;
}

g.link--none:nth-of-type(4n) line,
g.link--none:nth-of-type(4n) line ~ circle{
    stroke: #FCA8BF;
    fill: #FCA8BF;
}

g.link--confirmed:nth-of-type(n) line,
g.link--confirmed:nth-of-type(n) line ~ circle{
    stroke: #81F8C1;
    fill: #81F8C1;
}

g.link--confirmed:nth-of-type(2n) line,
g.link--confirmed:nth-of-type(2n) line ~ circle{
    stroke: #74DFAE;
    fill: #74DFAE;
}

g.link--confirmed:nth-of-type(3n) line,
g.link--confirmed:nth-of-type(3n) line ~ circle{
    stroke: #67C69B;
    fill: #67C69B;
}

g.link--confirmed:nth-of-type(4n) line,
g.link--confirmed:nth-of-type(4n) line ~ circle{
    stroke: #5AAD88;
    fill: #5AAD88;
}

g.link--maybe:nth-of-type(n) line,
g.link--maybe:nth-of-type(n) line ~ circle{
    stroke: #81ABF8;
    fill: #81ABF8;
}

g.link--maybe:nth-of-type(2n) line,
g.link--maybe:nth-of-type(2n) line ~ circle{
    stroke: #9BBBFA;
    fill: #9BBBFA;
}

g.link--maybe:nth-of-type(3n) line,
g.link--maybe:nth-of-type(3n) line ~ circle{
    stroke: #B5CBFC;
    fill: #B5CBFC;
}

g.link--maybe:nth-of-type(4n) line,
g.link--maybe:nth-of-type(4n) line ~ circle{
    stroke: #CFDBFE;
    fill: #CFDBFE;
}