.Input{
    @import '../../../../sass/colors.scss';
    background-color: transparent;
    width: 100%;
    max-width: 20rem;
    padding: .25rem;
    padding-bottom: .5rem;
    border: none;
    border-bottom: 1px solid $color-white;
}