.Input{
    @import '../../../../sass/colors.scss';
    
    background-color: transparent;
    width: 100%;
    padding: .5rem;
    font-size: .75rem;
    padding-bottom: .5rem;
    border: none;
    border-bottom: 2px solid $color-white;
}