.PageTitle {
    @import '../../../sass/colors.scss';

    font-size: 2em;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    color: $color-white;
}