.Tags {
    @import '../../../sass/colors.scss';

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: .5rem 0;

    li .Button--tag-border {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    li {
        margin-bottom: 1rem;
    }

    li .Button{
        margin-right: 1em;
    }

    li:nth-of-type(1n+1) .Button--tag-red {
        background-color: $color-red-2;
        transition: all .2s ease;
    }

    li:nth-of-type(2n+1) .Button--tag-red {
        background-color: $color-red-3;
        transition: all .2s ease;
    }

    li:nth-of-type(3n+1) .Button--tag-red {
        background-color: $color-red-1;
        transition: all .2s ease;
    }

    li:nth-of-type(1n+1) .Button--tag-blue {
        background-color: $color-red-2;
        transition: all .2s ease;
    }

    li:nth-of-type(2n+1) .Button--tag-blue {
        background-color: $color-red-3;
        transition: all .2s ease;
    }

    li:nth-of-type(3n+1) .Button--tag-blue {
        background-color: $color-red-1;
        transition: all .2s ease;
    }
}

.SearchQueryTags {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    margin: .5rem 0;
}